/* ********** Custom Properties ********** */

:root {
    --primary-font: 'Poppins', sans-serif;
    --secondary-font: 'Heebo', sans-serif;
    ;

    --green: #27AE60;
    --blue: #2D9CDB;
    --red: #EB5757;
    --gray-one: #333333;
    --gray-two: #4F4F4F;
    --gray-three: #828282;
    --gray-four: #BDBDBD;
    --gray-five: #E0E0E0;
    --gray-six: #F2F2F2;
}

/* ********** Reset ********** */

html {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    margin: 0;
}

img {
    width: 100%;
    height: auto;
    border-style: none;
}

b,
strong {
    font-weight: bolder;
}

a,
a:visited {
    text-decoration: none;
}

button {
    background-color: transparent;
    border: none;
}

ul,
ol {
    margin: 0;
    padding: 0;
    list-style: none;
}

/* ********** Components ********** */
/* Nav */
.principal-nav {
    display: flex;
    flex-direction: column;
    padding: 1rem .6rem;
}

/* Form Contact */
.form-contact {
    width: 100%;
    max-width: 21.875rem;
    position: relative;
}

/* Service Card */
.principal-body__service__card {
    max-width: 21.3125rem;
    padding: 2rem 1.5rem;
}

.principal-body__work__list__card {
    width: 100%;
    max-width: 34.0625rem;
    margin-top: 3rem;
}

/* Our Work Card */
.principal-body__work__list__card:first-child {
    margin-top: 0;
}

/* Twitter Card */
.principal-body__client__card {
    display: flex;
    flex-direction: row;
    gap: 2rem;
    align-items: center;
}

@media (min-width:48rem) and (max-width:63.9375rem) {
    .principal-nav {
        padding: 1rem 2em;
    }
}

@media (min-width:64rem) {
    .principal-nav {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 2rem 2.2rem;
    }
}

/* ********** Utilities ********** */
/* Icons */
.material-symbols-outlined {
    font-variation-settings:
        'FILL'0,
        'wght'400,
        'GRAD'0,
        'opsz'24
}

/* Nav */
.principal-nav__icon {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.mobile-menu {
    cursor: pointer;
}

.principal-nav__link {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem 0;
    text-align: center;
}

.principal-nav__link__list__item {
    margin-top: 1.5rem;
    cursor: pointer;
}

.principal-nav__link__list__item:first-child {
    margin-top: 0;
}

/* Form Contact */
.form-contact label {
    display: block;
}

.form-contact input[type=email] {
    width: 100%;
    border: none;
    border-radius: .75em;
    -webkit-border-radius: .75em;
    -moz-border-radius: .75em;
    -ms-border-radius: .75em;
    -o-border-radius: .75em;
    padding: .85rem;
}

.form-contact input[type=submit] {
    position: absolute;
    right: 1%;
    bottom: 5.5%;
    height: 57.5%;
    border: none;
    padding: 0 1rem;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
}

/* Service Card */
.principal-body__service__card span {
    padding: .35rem;
    border-radius: .4rem;
    -webkit-border-radius: .4rem;
    -moz-border-radius: .4rem;
    -ms-border-radius: .4rem;
    -o-border-radius: .4rem;
}

.principal-body__service__card button {
    padding: .5rem;
    border-radius: .4rem;
    -webkit-border-radius: .4rem;
    -moz-border-radius: .4rem;
    -ms-border-radius: .4rem;
    -o-border-radius: .4rem;
}

/* Our Work Card */
.principal-body__work__list__card article img {
    width: 100%;
    border-radius: 1.5rem;
    -webkit-border-radius: 1.5rem;
    -moz-border-radius: 1.5rem;
    -ms-border-radius: 1.5rem;
    -o-border-radius: 1.5rem;
}

.principal-body__work__list__card h3 {
    margin: 0;
}

/* Twitter Card */
.principal-body__client__card section img {
    width: 5.125rem;
    border-radius: .85rem;
    -webkit-border-radius: .85rem;
    -moz-border-radius: .85rem;
    -ms-border-radius: .85rem;
    -o-border-radius: .85rem;
}

@media (min-width:64rem) {

    /* Nav */
    .principal-nav__icon {
        display: block;
    }

    .mobile-menu {
        display: none;
    }

    .principal-nav__link {
        display: block;
        padding: 0;
    }

    .principal-nav__link__list {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        gap: 3rem;
    }

    .principal-nav__link__list__item {
        margin-top: 0;
    }
}

/* ********** Site Styles ********** */
body {
    font-family: var(--primary-font);
}

.hero,
main {
    padding: 0 1rem;
}

a,
a:visited {
    color: var(--gray-one);
}

.footer-contact__social-media__list__item {
    width: 1.5rem;
}

/* Header */
/* Nav */
.principal-nav__icon .logo {
    font-family: var(--secondary-font);
    color: var(--gray-one);
    font-size: 1.5em;
}

.principal-nav__link__list__item {
    color: var(--gray-one);
    font-size: 1em;
    font-weight: 500;
}

/* Hero */
.hero__image {
    margin-top: 1.6rem;
}

.hero__image span,
h1 {
    font-weight: 500;
    margin-left: 1.4rem;
    color: var(--gray-one);
}

.hero__image span {
    color: var(--blue);
    font-size: .75em;
}

.hero__image h1 {
    max-width: 65%;
    margin-top: 0;
    font-size: 1.5em;
}

.hero__image img {
    width: 100%;
    border-radius: 1.125rem;
    -webkit-border-radius: 1.125rem;
    -moz-border-radius: 1.125rem;
    -ms-border-radius: 1.125rem;
    -o-border-radius: 1.125rem;
}

.hero__context {
    padding-left: 1.4rem;
}

.hero__context h2 {
    max-width: 65%;
    color: var(--gray-one);
    font-size: 1.5em;
    font-weight: 500;
}

.hero__context p {
    max-width: 85%;
    font-size: .75em;
}

.hero__context article {
    margin-top: 2rem;
    width: 95%;
}

.hero__context__contact .form-contact label {
    font-size: .625em;
    color: var(--gray-three);
}

.form-contact input[type="Email"] {
    background-color: var(--gray-six);
}

.form-contact input[type="Submit"] {
    color: #FFFFFF;
    background-color: var(--blue);
}

.form-contact input[type="Email"]::placeholder {
    color: var(--gray-four);
    font-size: .875em;
    border-color: var(--gray-one);
}

/* Main */
/* Services */
.principal-body__service {
    margin-top: 5rem;
}

.principal-body__service h2 {
    width: 65%;
    font-weight: 500;
    font-size: 1.5em;
    margin-left: 1.5rem;
}

.principal-body__service article {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
}

.principal-body__service__card {
    padding: 2.5rem 2rem;
    margin-top: 2rem;
}

.principal-body__service__card span {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 4rem;
    height: 4rem;
    color: #FFFFFF;
    font-size: 2.25em;
    border-radius: 1rem;
    -webkit-border-radius: 1rem;
    -moz-border-radius: 1rem;
    -ms-border-radius: 1rem;
    -o-border-radius: 1rem;
}

.principal-body__service__card:first-of-type span {
    background-color: var(--blue);
}

.principal-body__service__card:nth-of-type(2) span {
    background-color: var(--green);
}

.principal-body__service__card:last-of-type span {
    background-color: var(--red);
}

.principal-body__service__card h3 {
    font-weight: 700;
    color: var(--gray-one);
    font-size: 1.5em;
}


.principal-body__service__card p {
    font-weight: 400;
    font-size: 1em;
    color: var(--gray-two);
}

.principal-body__service__card button {
    margin-top: .5rem;
    background-color: var(--gray-five);
    color: var(--gray-three);
    font-weight: 500;
    font-size: 1em;
}

.principal-body__service__card:hover {
    border-radius: 1.5rem;
    -webkit-border-radius: 1.5rem;
    -moz-border-radius: 1.5rem;
    -ms-border-radius: 1.5rem;
    -o-border-radius: 1.5rem;
    box-shadow: 0 .625rem 1.875rem 0 rgba(51, 51, 51, 0.1);
}

.principal-body__service__card:hover button {
    background-color: var(--blue);
    color: #FFFFFF;
}

/* Our Work */
.principal-body__work h2 {
    width: 75%;
    margin-left: 1.5rem;
    font-weight: 500;
    font-size: 1.5em;
    color: var(--gray-one);
}

.principal-body__work__list {
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 3rem;
    gap: 2rem;
    max-width: 78.125rem;
}

.principal-body__work__list__card h3 {
    color: var(--gray-three);
    font-size: .75em;
    font-weight: 300;
    margin-top: .5rem;
}

.principal-body__work__list__card span {
    color: var(--gray-one);
    font-weight: 500;
    font-size: 1.125em;
}

.principal-body__work span a {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 2.5rem;
    color: var(--blue);
}

/* Team */
.principal-body__team__body {
    margin-top: 5rem;
}

.principal-body__team__body h2 {
    color: var(--red);
    font-size: 1.125em;
    font-weight: 500;
}

.principal-body__team__body h3 {
    width: 80%;
    margin: 0;
    font-weight: 500;
    font-size: 2.25em;
    color: var(--gray-one);

}

.principal-body__team__body p {
    width: 75%;
    color: var(--gray-two);
    font-weight: 400;
    font-size: 1em;
}

.principal-body__team__image {
    max-width: 39.6875rem;
    margin: auto;
    margin-top: 3rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    column-gap: .7rem;
}

.principal-body__team__image img {
    border-radius: 1.5rem;
    -webkit-border-radius: 1.5rem;
    -moz-border-radius: 1.5rem;
    -ms-border-radius: 1.5rem;
    -o-border-radius: 1.5rem;
}

.principal-body__team__image img:first-child {
    object-fit: cover;
    width: 100%;
    margin: auto;
    grid-row: span 2;
}

.principal-body__team__image img:nth-child(2) {
    width: 80%;
}

.principal-body__team__image img:nth-child(3) {
    width: 95%;
}

/* Clients */
.principal-body__client p {
    width: 90%;
    margin-top: 5rem;
    color: var(--gray-one);
    font-size: 1.5em;
    font-weight: 500;
}

.principal-body__client__card__text {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: .5rem 0;
}

.principal-body__client__card__text h4 {
    margin: 0;
    color: var(--gray-one);
    font-weight: 500;
    font-size: 1.5rem;
}

.principal-body__client__card__text span {
    color: var(--gray-three);
    font-size: 1.125rem;
    font-weight: 500;
}


/* Footer */
footer {
    padding: 2.5rem;
    margin-top: 5rem;
    background-color: #000000;
    color: #FFFFFF;
}

.footer-contact__link__secondary-nav__list__item {
    margin-top: .8rem;
}

.footer-contact__link__secondary-nav__list__item a {
    color: #FFFFFF;
    font-weight: 400;
    font-size: 1.125em;
}

.footer-contact__social-media h3 {
    font-weight: 800;
    font-family: var(--secondary-font);
    font-size: 2.25em;
    margin: 0;
    margin-top: 4rem;
}

.footer-contact__social-media__list {
    display: flex;
    gap: 1rem;
    margin-top: .6rem;
}

.footer-contact__form {
    margin-top: 3rem;
}

.footer-contact__form .form-contact label {
    font-size: .625em;
    color: var(--gray-three);
    font-weight: 500;
}

.footer-contact__form .form-contact input[type="submit"] {
    bottom: 7%;
}

footer span {
    display: block;
    text-align: center;
    margin-top: 2rem;
}

@media (min-width:48rem) and (max-width:63.9375rem) {

    .hero,
    main {
        padding: 0 2rem;
    }
}

@media (min-width:64rem) {

    .hero,
    main {
        padding: 0 2rem;
    }

    .principal-body {
        padding: 0 5%;
    }

    .hero__image span,
    h1 {
        width: 20%;
        margin-left: 10rem;
    }

    .hero__context h2 {
        max-width: 15%;
    }

    .hero__context p {
        max-width: 30%;
    }

    .hero__context {
        padding-left: 10rem;
    }

    .principal-body__service h2 {
        width: 25%;
    }

    .principal-body__work h2 {
        width: 25%;
    }

    .principal-body__work__list__card {
        height: fit-content;
        margin: 0;
    }

    .principal-body__work__list__card:first-child {
        margin-top: 10rem;
    }

    .principal-body__work__list__card:last-child {
        position: relative;
        bottom: 9.375rem;
    }

    .principal-body__team {
        display: flex;
    }

    .principal-body__team__body {
        margin-top: 10rem;
    }

    .principal-body__client {
        margin-top: 8rem;
    }

    .principal-body__client p {
        max-width: 50%;
    }

    footer {
        margin-top: 10rem;
    }

    .footer-contact {
        display: flex;
        justify-content: space-around;
    }

    .footer-contact__social-media h3 {
        margin-top: 0;
    }

    .footer-contact__form {
        margin-top: 0;
    }

    footer span {
        margin-top: 5rem;
    }
}